.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inside-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(228, 52%, 50%);
  height: 400px;
  width: 50%;
  border-radius: 7px;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornsilk;
  height: 400px;
  width: 50%;
  border-radius: 7px;
  box-shadow: 12px 12px 2px 1px rgb(230, 224, 224);
}
.section1 {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 7px;
  height: 35px;
  background-color: pink;
  margin-bottom: 10px;
}

.section2 {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 7px;
  height: 35px;
  background-color: rgb(210, 80, 62);
  margin-bottom: 10px;
}

.section3 {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 7px;
  height: 35px;
  background-color: rgb(74, 198, 122);
  margin-bottom: 10px;
}
.section4 {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 7px;
  height: 35px;
  background-color: rgb(138, 138, 207);
  margin-bottom: 10px;
}
button {
  width: 85%;
  margin-top: 10px;
  background-color: rgb(17, 12, 89);
  color: aliceblue;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.icons {
  /* margin-top: 5px; */
  padding-left: 5px;
}
.middle-right-circle {
  height: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  background-color: hsl(229, 73%, 42%);
}
.seventy-six {
  font-size: 48px;
  color: white;
}
.left:first-child {
  color: aliceblue;
}
.para {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  font-size: 15px;
}
.para > p {
  color: rgb(211, 195, 195);
}
.result {
  color: rgb(211, 195, 195);
}
.middle-right-circle {
  color: rgb(211, 195, 195);
}
